/* feature section starts here */
.featured-section {
  width: 1140px;
  margin: auto;
}
.featured-section h2 {
  font-size: 2rem;
  padding-top: 30px;
}
.featured-section .hr-line {
  height: 2px;
  width: 100%;
  background: #e4e4e4;
}
.featured-section .sm-hr-line {
  height: 2px;
  width: 127px;
  background: #000;
}
.featured-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-top: 30px;
}
.featured-item {
  display: flex;
  border: 2px solid #e4e4e4;
}
.featured-item .img {
  width: 38%;
  height: 260px;
}
.featured-item .title {
  width: 62%;
  padding: 25px;
  font-family: "Roboto", sans-serif;
}
.featured-item .title h3 {
  font-size: 1.55rem;
  font-weight: 700;
}
.featured-item .title p {
  font-size: 0.95rem;
  font-weight: 300;
  padding-top: 12px;
  color: #a1a1a1;
  letter-spacing: 1px;
}

.featured-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-item .description {
  height: 156px;
}
.featured-item .author {
  width: 100%;
  display: flex;
}
.featured-item .info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  padding-left: 12px;
  color: #a1a1a1;
  font-weight: 300;
}
.featured-item .info .date {
  padding-top: 4px;
}
.featured-item .author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* feature section ends here */

/* stories section starts here */
.stories-section {
  width: 1140px;
  margin: auto;
}
.stories-section h2 {
  font-size: 2rem;
  padding-top: 30px;
}
.stories-section .hr-line {
  height: 2px;
  width: 100%;
  background: #e4e4e4;
}
.stories-section .sm-hr-line {
  height: 2px;
  width: 145px;
  background: #000;
}
.stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 30px;
}
.stories-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #e4e4e4;
}
.stories-item .img {
  height: 231px;
}
.stories-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories-item .title {
  padding: 25px;
  font-family: "Roboto", sans-serif;
}
.stories-item .title h3 {
  font-size: 1.55rem;
  font-weight: 700;
}
.stories-item .title p {
  font-size: 0.95rem;
  font-weight: 300;
  padding-top: 12px;
  color: #a1a1a1;
  letter-spacing: 1px;
}
.stories-item .description {
  height: 156px;
}
.stories-item .author {
  width: 100%;
  display: flex;
}
.stories-item .info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  padding-left: 12px;
  color: #a1a1a1;
  font-weight: 300;
}
.stories-item .info .date {
  padding-top: 4px;
}
.stories-item .author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* stories section ends here */
/* INDEX PAGE ENDS HERE */ 

/* POST PAGE STARTES HERE */

/* POST PAGE ENDS HERE */