@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600&display=swap');
/* INDEX PAGE STARTES HERE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav section starts here */
nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  height: 60px;
  margin: auto;
  padding: 0 20px;
}
.logo {
  font-family: "Kanit", sans-serif;
  font-size: 2.6rem;
}
.menu-container {
  display: flex;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}
ul.menu {
  display: flex;
  list-style: none;
  color: #a1a1a1;
}
.menu li {
  font-size: 1rem;
  padding: 0 10px;
  margin-right: 25px;
}
.menu li:active {
  color: #787777;
}
input#search {
  width: 200px;
  padding: 7px 19px;
  border: 1px solid #e2e2e2;
  outline: none;
  border-radius: 18px;
  color: #a1a1a1;
  font-size: 1rem;
}
input#search::placeholder {
  color: #a1a1a1;
}
/* nav section ends here */
/* main section starts here */
.main-section {
  width: 1140px;
  height: 350px;
  margin: auto;
  /* background-color: yellow; */
  text-align: center;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.main-section h1 {
  padding-top: 90px;
  font-size: 4rem;
}
.main-section p {
  font-size: 1.5rem;
  margin: 0 50px;
  padding-top: 6px;
}
/* main section ends here */
/* feature section starts here */
.featured-section {
  width: 1140px;
  margin: auto;
}
.featured-section h2 {
  font-size: 2rem;
  padding-top: 30px;
}
.featured-section .hr-line {
  height: 2px;
  width: 100%;
  background: #e4e4e4;
}
.featured-section .sm-hr-line {
  height: 2px;
  width: 127px;
  background: #000;
}
.featured-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-top: 30px;
}
.featured-item {
  display: flex;
  border: 2px solid #e4e4e4;
}
.featured-item .img {
  width: 38%;
  height: 260px;
}
.featured-item .title {
  width: 62%;
  padding: 25px;
  font-family: "Roboto", sans-serif;
}
.featured-item .title h3 {
  font-size: 1.55rem;
  font-weight: 700;
}
.featured-item .title p {
  font-size: 0.95rem;
  font-weight: 300;
  padding-top: 12px;
  color: #a1a1a1;
  letter-spacing: 1px;
}

.featured-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-item .description {
  height: 156px;
}
.featured-item .author {
  width: 100%;
  display: flex;
}
.featured-item .info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  padding-left: 12px;
  color: #a1a1a1;
  font-weight: 300;
}
.featured-item .info .date {
  padding-top: 4px;
}
.featured-item .author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* feature section ends here */

/* stories section starts here */
.stories-section {
  width: 1140px;
  margin: auto;
}
.stories-section h2 {
  font-size: 2rem;
  padding-top: 30px;
}
.stories-section .hr-line {
  height: 2px;
  width: 100%;
  background: #e4e4e4;
}
.stories-section .sm-hr-line {
  height: 2px;
  width: 145px;
  background: #000;
}
.stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 30px;
}
.stories-item {
  display: flex;
  flex-direction: column;
  border: 2px solid #e4e4e4;
}
.stories-item .img {
  height: 231px;
}
.stories-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories-item .title {
  padding: 25px;
  font-family: "Roboto", sans-serif;
}
.stories-item .title h3 {
  font-size: 1.55rem;
  font-weight: 700;
}
.stories-item .title p {
  font-size: 0.95rem;
  font-weight: 300;
  padding-top: 12px;
  color: #a1a1a1;
  letter-spacing: 1px;
}
.stories-item .description {
  height: 156px;
}
.stories-item .author {
  width: 100%;
  display: flex;
}
.stories-item .info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  padding-left: 12px;
  color: #a1a1a1;
  font-weight: 300;
}
.stories-item .info .date {
  padding-top: 4px;
}
.stories-item .author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* stories section ends here */
/* footer section starts here */
footer{
font-family: "Roboto", sans-serif;
}
.footer-container {
  height: 50px;
  width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.footer-container a{
  color: red;
  text-decoration: none;
}
/* footer section ends here */
/* INDEX PAGE ENDS HERE */